.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
    --paragraph: 18px;
    --family: 'Epilogue', Verdana, Geneva, Tahoma, sans-serif;
}

/* NAVBAR */

.navbar {
    display: flex;
    width: 100%;
    height: 2rem;
    padding: 1.5rem;
    align-content: center;
    color: var(--medium-gray);
}

.logo img {
    display: block;
    align-self: baseline;
    justify-self: flex-start;
    width: 2.5rem;
    height: 1.5rem;
    margin: 0 30px;
}


.nav-menu {
    flex: 1 1 100px;
    display: flex;
}

.nav-menu li {
    list-style-type: none;
    display: flex;
    padding: 0 25px;
}

.drop-down a img {
    padding: 8px;
    position: absolute;
    align-self: center;

}

.drop-down a .arr-up {
    display: none;
}

.drop-down.active a .arr-down {
    display: none;
}

.drop-down.active a .arr-up {
    display: inline-block;
}


a {
    text-decoration: none;
    color: var(--medium-gray);
}

a:hover  {
    color: var(--almost-black);
}

.nav-btn {
    justify-self: flex-end;
}

.nav-btn .reg {
    text-align: center;
    border: 2px solid var(--medium-gray);
    border-radius: 10px;
    margin: 0 0 0 16px;
    padding: 6px 14px;
}

.menu-bar {
    display: none;
    /* visibility: hidden; */
}

/* MAIN SECTION */
main {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    padding: 2.5rem 8rem 0;
    height: 100vh;
    grid-template-areas:
        "b b b b . c c c c c c c"
        "b b b b . c c c c c c c"
        "a a a a . c c c c c c c"
        "a a a a . c c c c c c c";
}

/* MAINT TEXT */
.hero-text {
    margin: 70px 0 0;
    grid-area: b;
}

.hero-text h1 {
    width: 80%;
    font-family: var(--family);
    font-weight: 700;
    font-size: 3.75rem;
    letter-spacing: -0.25rem;
    text-align: left;
    margin-bottom: 50px;
}

.hero-text h1 .break {
    display: block;
}

.hero-text p {
    width: 55%;
    margin-bottom: 50px;
    text-align: left;
    font-size: var(--paragraph);
    font-weight: 500;
}

.hero-text .btn {
    background: #000;
    color: #fff;
    padding: 12px 16px;
    border-radius: 12px;
}

.hero-text .btn:hover {
    background: #fff;
    color: #000;
    border: 1px solid black;
}

/* HERO IMAGE */
main .hero-img {
    grid-area: c;
}

.hero-mobile {
    display: none;
}

main .hero-img img {
    width: 100%;
    height: 80vh;
}

/* CLIENT LOGOS */
main .client {
    grid-area: a;
}

main .client img {
    padding: 14px;
}

/* MEDIA QUERY */
@media screen and (max-width: 800px) {
    .navbar {
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .logo img {
        padding: 0;
        margin: 0;
    }

    .nav-menu,
    .nav-btn {
        display: none;
    }

    .menu-bar {
        /* visibility: visible; */
        display: flex;
        position: relative;
        margin: 0 20px;
        align-content: center;

    }

    .menu-bar img {
        position: absolute;
    }

    .close-menu {
        display: none;
    }


    /* MAIN */

    main {
        /* position: absolute; */
        top: 0;
        display: grid;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-content: center;
        grid-template-areas:
            "c c c c c c c c c c c c"
            ". b b b b b b b b b b ."
            "a a a a a a a a a a a a";
    }

    .hero-desktop {
        display: none;
    }

    .hero-img img.hero-mobile {
        display: block;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 40vh;
        grid-area: c;
    }

    .hero-text {
        width: 100%;
        margin: 30px 0;
        text-align: center;
        justify-content: center;
        grid-area: b;
    }

    .hero-text h1 {
        width: 100%;
        font-family: var(--family);
        font-weight: 700;
        font-size: 2.3rem;
        letter-spacing: -0.25rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .hero-text h1 .break {
        display: inline;
    }

    .hero-text p {
        width: 100%;
        text-align: center;
        font-size: var(--paragraph);
        font-weight: 500;
        margin-bottom: 2rem;
    }

    .client {
        text-align: center;
    }

    main .client img {
        width: 90px;
        height: 55px;
    }


}

/* ######################## */
/* ######################## */
/* ######################## */
.drop-down ul {
    display: none;
}

.drop-down:hover ul {
    display: block;
    color: #000;
}