.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
    --paragraph: 18px;
    --family: 'Epilogue', Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: var(--almost-white);
}

/* NAVBAR */

.navbar {
    display: flex;
    width: 100%;
    height: 2rem;
    padding: 1.5rem;
    align-content: center;
    color: var(--medium-gray);
}

.logo img {
    align-self: flex-end;
    height: 1.5rem;
    margin: 0 32px;
}

/* menu */
.nav-menu {
    flex: 1 1 100px;
    display: flex;
}

.nav-menu>li {
    list-style-type: none;
    padding: 0 40px;
}

.nav-menu>li a img {
    padding: 8px;
    position: absolute;
    align-self: center;

}

.nav-menu li a .arr-up {
    display: none;
}

.nav-menu li.active a .arr-down {
    display: none;
}

.nav-menu li.active a .arr-up {
    display: inline-block;
}

.nav-menu li .dropdown {
    position: absolute;
    top: 55px;
    left: 120px;
    background: #fff;
    padding: 10px 30px;
    border-radius: 8px;
    box-shadow: 0 10px 30px -15px var(--medium-gray);
    display: none;
}

.nav-menu li .dropdown ul li {
    display: flex;
    margin: 12px 0;
}

.nav-menu li .dropdown ul li img {
    margin-right: 10px;
}

.dropdown ul li a {
    align-self: center;
}

.nav-menu li.active .dropdown {
    display: block;
}


.nav-menu li .dropdown2 {
    position: absolute;
    top: 55px;
    left: 320px;
    background: #fff;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0 10px 30px -15px var(--medium-gray);
    display: none;
}

.nav-menu li .dropdown2 ul li {
    display: flex;
    margin: 12px 0;
}

.nav-menu li.active .dropdown2 {
    display: block;
}

a {
    text-decoration: none;
    color: var(--medium-gray);
}

a:hover {
    color: var(--almost-black);
}

.nav-btn {
    justify-self: flex-end;
}

.nav-btn .reg {
    text-align: center;
    border: 2px solid var(--medium-gray);
    border-radius: 10px;
    margin: 0 0 0 16px;
    padding: 6px 14px;
}

.nav-btn .reg:hover {
    border: 2px solid var(--almost-black);
}

.menu-bar {
    display: none;
    /* visibility: hidden; */
}

aside {
    display: none;
}

/* MAIN SECTION */
main {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    padding: 2.5rem 12rem 0;
    height: 100vh;
    grid-template-areas:
        "b b b c c c c c c c c c"
        "b b b c c c c c c c c c"
        "a a a c c c c c c c c c"
        "a a a c c c c c c c c c";
}

/* MAINT TEXT */
.hero-text {
    margin: 70px 0 0;
    grid-area: b;
}

.hero-text h1 {
    width: 80%;
    font-family: var(--family);
    font-weight: 700;
    font-size: 3.75rem;
    letter-spacing: -0.25rem;
    text-align: left;
    margin-bottom: 50px;
}

.hero-text h1 .break {
    display: block;
}

.hero-text p {
    width: 55%;
    margin-bottom: 50px;
    text-align: left;
    font-size: var(--paragraph);
    font-weight: 500;
}

.hero-text .btn {
    background: #000;
    color: #fff;
    padding: 12px 16px;
    border-radius: 12px;
}

.hero-text .btn:hover {
    background: #fff;
    color: #000;
    border: 1px solid black;
}

/* HERO IMAGE */
main .hero-img {
    grid-area: c;
}

.hero-mobile {
    display: none;
}

main .hero-img img {
    width: 100%;
    height: 80vh;
}

/* CLIENT LOGOS */
main .client {
    grid-area: a;
}

main .client img {
    padding: 14px;
}

/* ############################# */
/* ############################# */
/* ############################# */
/* ############################# */
/* ############################# */
/* ############################# */
/* MEDIA QUERY */
@media screen and (max-width: 800px) {
    .navbar {
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .logo img {
        padding: 0;
        margin: 0;
    }

    .nav-menu,
    .nav-btn {
        display: none;
    }

    .menu-bar {
        display: block;
        z-index: 1000;
    }

    .menu-bar .open-menu, .menu-bar .close-menu {
        position: absolute;
        right: 20px;
    }

    .menu-bar .close-menu {
        display: none;
    }

    .menu-bar.active .open-menu {
        display: none;
    }

    .menu-bar.active .close-menu {
        display: block;
    }

    aside {
        display: none;
    }

    aside.active {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        background: #fff;
        width: 65%;
        height: 100%;
    }

    .mobile-menu .nav-menu {
        display: block;
        margin: 80px 0;
        font-size: 1.8rem;
    }

    .mobile-menu .nav-menu>li {
        margin: 0 0 30px 0;
    }

    .mobile-menu .nav-menu li.active a .arr-down {
        display: none;
    }
    
    .mobile-menu .nav-menu li.active a .arr-up {
        display: inline-block;
    }
    
    .mobile-menu .nav-menu li .dropdown,
    .mobile-menu .nav-menu li.active .dropdown2 {
        position: relative;
        top: 0;
        left: .2rem;
        box-shadow: none;
    }
    
    .mobile-menu .nav-menu li .dropdown ul li,
    .mobile-menu .nav-menu li .dropdown2 ul li {
        display: flex;
        margin: 12px 0 0 0;
    }
    
    .mobile-menu .nav-menu li .dropdown ul li img {
        margin-right: 20px;
        width: 25px;
        height: 25px;
    }

 
    .mobile-menu .nav-btn {
        display: block;
        text-align: center;
        font-size: 1.5rem;
    }
    
    .mobile-menu .nav-btn .reg {
        display: block;
        text-align: center;
        border: 2px solid var(--medium-gray);
        border-radius: 10px;
        margin: 20px;
        padding: 10px 14px;
    }
    

    


    /* Menu */
    

    /* MAIN */

    main {
        /* position: absolute; */
        top: 0;
        display: grid;
        padding: 0;
        margin: 30px 0 0;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-content: center;
        grid-template-areas:
            "c c c c c c c c c c c c"
            ". b b b b b b b b b b ."
            "a a a a a a a a a a a a";
    }

    /* Main BOdy */
    .hero-desktop {
        display: none;
    }

    .hero-img img.hero-mobile {
        display: block;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 40vh;
        grid-area: c;
    }

    .hero-text {
        width: 100%;
        margin: 30px 0;
        text-align: center;
        justify-content: center;
        grid-area: b;
    }

    .hero-text h1 {
        width: 100%;
        font-family: var(--family);
        font-weight: 700;
        font-size: 2.3rem;
        letter-spacing: -0.25rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .hero-text h1 .break {
        display: inline;
    }

    .hero-text p {
        width: 100%;
        text-align: center;
        font-size: var(--paragraph);
        font-weight: 500;
        margin-bottom: 2rem;
    }

    .client {
        text-align: center;
    }

    main .client img {
        width: 90px;
        height: 55px;
    }


}

/* ######################## */
/* ######################## */
/* ######################## */